body {
    height: 600px;
    width: 600px;
    font-size: 0.75rem;
}

.fa {
    font-size: 1.5em;
}

.navbar img.logo {
    height: 30px;
}

.nav-item {
    text-align: center;
    margin-left: 0.25em;
    flex: 1;
}

.bg-secondary {
    background-color: #2e3133 !important;
}

.mCustomScrollbar {
    height: 537px;
}

.mCSB_inside > .mCSB_container {
    margin-right: 15px;
}

.mCS-dark.mCSB_scrollTools.mCSB_scrollTools_onDrag .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(0,0,0,.60);
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: rgba(0,0,0,.50);
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(0,0,0,.40);
}

.rss-item .js-swap {
    padding: 0.5rem;
    margin-left: -0.5rem;
}

.rss-item a {
    line-height: 1;
}

.rss-item img {
    max-width: 100% !important;
    height: auto !important;
}